$dark1: rgb(56, 56, 56);
$dark2: rgb(38, 38, 38);
$dark3: rgb(18, 18, 18);

$blue1: rgb(111, 145, 255);
$blue2: rgb(69, 111, 248);
$blue3: rgb(43, 92, 252);

$red1: rgb(255, 117, 117);
$red2: rgb(255, 76, 76);
$red3: rgb(253, 47, 47);