<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/settingsWindow.css" />
</head>

<body>
  <header class="app-header">
    <div class="window-frame">
      <div class="window-name-container">
        <img src="../images/pollo-settings.jpg" />
        <h4 class="window-name">Settings</h4>
      </div>
      <div class="manage-window-buttons">
        <div class="minimize-btn">
          <img src="../svgs/minimize.svg" />
        </div>
        <div class="close-btn"><img src="../svgs/cross.svg" /></div>
      </div>
    </div>
  </header>

  <main class="settings-container">
    <form name="chatlog-form">
      <label for="chatlog-text-input">
        Chat.log location
        <div class="chatlog-input-wrapper">
          <input type="text" placeholder="PathToGameRoot/Chat.log" name="chatlog-text-input" id="chatlog-text-input" class="text-input">
          <input type="file" id="chatlog-file-input" class="file-input" accept=".log" name="chatlog-file-input">
          <button type="submit" class="apply-chatlog-btn">Apply</button>
          <span class="chatlog-error hidden">This is not a Chat.log file.<br><!--You should find it in your Aion root folder, the same path where folders such as "bin32", "bin64", "l10n", etc. are --></span>
        </div>
      </label>
      
    </form>
  </main>
  <script src="../scripts/renderer/settingsWindow/index.js" type="module"></script>
</body>

</html>