<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/settingsWindow.css" />
</head>

<body>
  <header class="app-header">
    <div class="window-frame">
      <div class="app-name-container">
        <img src="../images/pollo-facherito.jpg" />
        <h4 class="app-name">Settings</h4>
      </div>
      <div class="manage-app-buttons">
        <div class="minimize-app-button">
          <img src="../svgs/minimize.svg" />
        </div>
        <div class="close-app-button"><img src="../svgs/cross.svg" /></div>
      </div>
    </div>
  </header>
</body>

</html>