@import "../variables";
@import "../mixins";

body {
  background: $dark3;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  scrollbar-width: none !important;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  /* cursor: default; */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #000;

  &:hover {
    background-color: $dark1;
  }

  &:active {
    background-color: $dark2;
  }
}

.chatlog-input-wrapper {
  position: relative;
  margin-top: 10px;
  width: fit-content;
}

.text-input {
  padding: 20px 35px 20px 12px;
}

.file-input {
  position: absolute;
  right: 5px;
  top: 25%;
}

.apply-chatlog-btn {
  position: absolute;
  height: 40px;
  font-size: 16px;
  padding: 0px 15px;
  background-color: $blue3;
  border: none;
  color: white;

  &:hover {
    background-color: $blue1;
  }

  &:active {
    background-color: $blue2;
  }
}

.chatlog-error {
  color: $red3;
  font-size: 14px;
  position: absolute;
  top: 45px;
  left: 0;
  transition: 0.15s opacity linear;
  opacity: 1;
  /* display: block; */

  &.hidden {
    transition: 0.05s opacity linear;
    opacity: 0;
    /* display: none; */
  }
}

.settings-container {
  padding: 20px;
}

.chatlog-input-label {
  font-weight: bold;
  font-size: 18px;
}

.other-settings-form {
  margin-top: 40px;
}

.save-settings-btn,
.cancel-settings-btn {
  height: 40px;
  font-size: 16px;
  padding: 0px 15px;
  width: 90px;
  border: none;
  color: white;

}

.save-settings-btn {
  background-color: $blue3;

  &:hover {
    background-color: $blue1;
  }

  &:active {
    background-color: $blue2;
  }
}

.cancel-settings-btn {
  margin-left: 20px;
  background-color: $red3;

  &:hover {
    background-color: $red1;
  }

  &:active {
    background-color: $red2;
  }
}

.other-settings-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}