.top-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.settings-button,
.reset-button {
  width: 40px;
  height: 40px;
  background-color: $dark1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $dark2;
  }

  img {
    cursor: pointer;
  }
}

.reset-button {
  background-color: $red3;

  &:hover {
    background: $red1;
  }
}

.filter {
  display: flex;
  height: 40px;
  flex-grow: 1;
  transition: 0.15s background-color;

  &.filter-class {
    background-color: $blue3;
    position: relative;
  }
}

.filter-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $blue2;
  }
}

.filter-class-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;

  &>img {
    height: 85%;
  }

  &.none>img {
    height: 50%;
  }
}

.filter-class-options {
  background: $blue2;
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  display: none;
  flex-direction: column;

  &.open {
    display: flex;
  }
  .filter-class-option {
    display: flex;

    height: 40px;

    &:hover {
      background-color: $blue1;
    }

    .filter-class-name {
      display: inline-flex;
      align-items: center;
    }
  }
}

.filter-class-remove {
  display: none;
  align-items:center;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 10px;
  & > img {
    height: 100%;
  }
  &:hover {
    background-color: $blue1;
  }
}