.text-input {
  border: none;
  background-color: $dark1;
  height: 30px;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 16px 10px;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input {
  visibility: hidden;
  width: 24px;
}

.file-input::before {
  visibility: visible;
  cursor: pointer;
  content: url('../svgs/attach-file.svg');
}